<!-- <p>header works!</p> -->
<div class="header">
    <aside class="topbar">
      <nav class="top-nav">
        <ul>
          <li class="nav-item">
              <a href="#">Movie Reviews</a>
          </li>
          <li>
            <a routerLink="create-movie">Create</a>
          </li>
          <li class="nav-item">
              <form action="">
                    <i class="fas fa-search"></i>
                    <input type="text">
                    <button>Search</button>
              </form>
          </li>
        </ul>
      </nav>
    </aside>

  </div>
